<div class="body-wrapper">
  <mat-card class="no-items-card mat-elevation-z24">
    <mat-card-header>
      <button mat-icon-button class="change-icon">
        <mat-icon>change_circle</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <p>You have no saved items</p>
      <p>Sign in to sync your Saved Items across all your devices.</p>
      <button mat-raised-button color="accent" routerLink="../login">Sign In</button>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>
