<div class="footer">
  <div class="help">
    <ul>
      <li><h4>HELP & INFORMATION</h4></li>
      <li>Help</li>
      <li>Track Order</li>
      <li>Delivery & Returns</li>
    </ul>
  </div>
  <div class="about">
    <ul>
      <li><h4>ABOUT ASOS</h4></li>
      <li>About us</li>
      <li>Careers at ASOS</li>
      <li>Corporate responsibility</li>
      <li>Investors' site</li>
    </ul>
  </div>
  <div class="more">
    <ul>
      <li><h4>MORE FROM ASOS</h4></li>
      <li>Mobile apps</li>
      <li>ASOS Marketplace</li>
      <li>Gift Vouchers</li>
      <li>Black Friday</li>
    </ul>
  </div>
  <div class="shopping-from">
    <ul>
      <li><h4>SHOPPING FROM</h4></li>
      <li>You are from MD | <b>CHANGE</b></li>
    </ul>
  </div>
</div>
