<mat-card class="login-wrapper">
  <mat-card-title>Login</mat-card-title>
  <mat-card-subtitle>Enter your email and password</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="login" type="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
      <div class="checkbox-container">
        <mat-checkbox>Remember me</mat-checkbox>
      </div>
      <button mat-raised-button type="submit" color="accent">Sign In</button>
    </form>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
