<div class="body-wrapper banner">
  <sales-banner (click)="goToShopList('The Summer Starter Pack')"></sales-banner>
  <div class="title-image" (click)="goToShopList('Festi-gal')">
    <img src="../../../../assets/images/title/title-women.avif">
    <div class="absolute-card heading">
      <h1>Festi-gal</h1>
    </div>
    <div class="absolute-card button">
      <h3>SHOP OUR DESIGN</h3>
    </div>
  </div>

  <mat-spinner *ngIf="requestInProgress"></mat-spinner>

  <div *ngIf="categoryList && !requestInProgress" class="items-container center">
    <ng-container *ngFor="let item of categoryList">
      <category-card [categoryItem]="item" (click)="goToShopList(item?.name)"></category-card>
    </ng-container>
  </div>

  <div *ngIf="brandList && !requestInProgress" class="items-container center">
    <ng-container *ngFor="let item of brandList">
      <brand-card [brandItem]="item" (click)="goToShopList(item?.brandName)"></brand-card>
    </ng-container>
  </div>

  <trending-brands></trending-brands>
</div>
