<mat-card>
  <mat-card-content>
    <img [src]="productItem?.imageUrl" [alt]="productItem?.id">
    <h3>{{productItem?.name}}</h3>
    <div class="items-container">
      <p>{{productItem?.description}}</p>
      <p>{{productItem?.price}}</p>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="items-container">
      <button mat-raised-button>Add to cart</button>
      <div>
        <mat-icon *ngIf="!productItem?.favorite">favorite_border</mat-icon>
        <mat-icon *ngIf="productItem?.favorite">favorite</mat-icon>
        <mat-icon>ios_share</mat-icon>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
