mat-card {
  min-width: 240px;
  max-width: 280px;

  mat-card-content {
    img {
      width: 100%;
      height: 100%;
    }

    p {
      max-width: 80%;
    }


    .items-container {
      height: 100px;
    }
  }
}
