<div class="banner-container">
  <div class="banner-header">
    <div class="div-button">Women</div>
    <div>NEW HERE? Get 20% off everything * <br> With code: HELLOASOS</div>
    <div class="div-button">Men</div>
  </div>
  <div class="banner-content">
    <div class="white-button"><h3>The Summer Starter Pack</h3></div>
    <h1>25% OFF SUMMER SHOES!</h1>
    <h1>FROM SNEAKS TO SMART STYLES</h1>
    <h3>With code: NEW</h3>
    <p>See website banner for Ts&Cs. Selected marked products excluded from promo.</p>
  </div>
</div>
