<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>person_outline</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="login">
    <mat-icon>person_outline</mat-icon>
    <span>My Account</span>
  </button>
  <button mat-menu-item>
    <mat-icon>inventory</mat-icon>
    <span>My Orders</span>
  </button>
  <button mat-menu-item routerLink="../return-refunds">
    <mat-icon>info</mat-icon>
    <span>Returns Information</span>
  </button>
  <button mat-menu-item>
    <mat-icon>contacts</mat-icon>
    <span>Contact Preferences</span>
  </button>
</mat-menu>
