<mat-card class="no-items-card mat-elevation-z24">
  <mat-card-header>
    <button mat-icon-button class="icon">
      <mat-icon>shopping_bag</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <h3><b>Your bag is empty</b></h3>
    <p>Items remain in your bag for 60 minutes, and then they’re moved to your Saved Items.</p>
    <p>Sign in to see your bag and get shopping!</p>
    <button mat-raised-button color="accent" routerLink="../login">Sign In</button>
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
