<div class="body-wrapper">
  <mat-spinner *ngIf="requestInProgress"></mat-spinner>

  <no-items-card *ngIf="!requestInProgress && (cartList.length === 0 || cartList === undefined)"></no-items-card>

  <div *ngIf="!requestInProgress && cartList?.length > 0" class="items-container center">

    <div class="cart-items">
      <mat-card class="cart-items-header mat-elevation-z24">
        <mat-card-title><h2>MY BAG</h2></mat-card-title>
      </mat-card>
      <ng-container *ngFor="let item of cartList">
        <cart-item
          [cartItem]="item"
          (click)="setSubTotal()"
          (deleteEvent)="deleteItemById($event)">
        </cart-item>
      </ng-container>
      <mat-card class="cart-footer mat-elevation-z24">
        <mat-card-title>
          <mat-icon class="shipping-icon">local_shipping</mat-icon>
          <h2>FREE* STANDARD DELIVERY</h2>
        </mat-card-title>
        <mat-card-subtitle>
          <p>Faster delivery options available to most countries.</p>
          <a>More info</a>
        </mat-card-subtitle>
      </mat-card>
    </div>

    <div class="total-container">
      <mat-card>
        <mat-card-title>
          <h2>TOTAL</h2>
        </mat-card-title>
        <mat-card-content>
          <p>Sub-total: {{totalPrice}}$</p>
          <p>Delivery</p>
          <mat-icon>info</mat-icon>
          <mat-select>
            <mat-option [value]="false">Free Delivery</mat-option>
            <mat-option [value]="true">Fast Delivery (+23$)</mat-option>
          </mat-select>
        </mat-card-content>
        <mat-card-footer class="total-footer">
          <button mat-raised-button color="accent" (click)="sendToCheckout()">CHECKOUT</button>
        </mat-card-footer>
      </mat-card>
    </div>

  </div>

</div>
