<div class="body-wrapper">
<!--  <no-items-card></no-items-card>-->

  <div class="items-container center">
    <div class="cart-items">
      <mat-card class="cart-items-header mat-elevation-z24">
        <mat-card-title><h2>MY BAG</h2></mat-card-title>
      </mat-card>
      <ng-container>
        <cart-item></cart-item>
      </ng-container>
      <mat-card class="cart-footer mat-elevation-z24">
        <mat-card-title>
          <mat-icon class="shipping-icon">local_shipping</mat-icon>
          <h2>FREE* STANDARD DELIVERY</h2>
        </mat-card-title>
        <mat-card-subtitle>
          <p>Faster delivery options available to most countries.</p>
          <a>More info</a>
        </mat-card-subtitle>
      </mat-card>
    </div>
    <div class="total-container">
      <h2>TOTAL</h2>
    </div>
  </div>

</div>
