<mat-toolbar class="mat-elevation-z12 main-card mat-tab-nav-bar">
  <div class="nav-content-left">
    <button mat-button routerLink="../women-page">Women</button>
    <button mat-button routerLink="../men-page">Men</button>
  </div>
  <div class="nav-content-right">
    <floating-menu></floating-menu>
    <button mat-button routerLink="favorite-page">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button mat-button routerLink="cart-page">
      <mat-icon>shopping_bag</mat-icon>
    </button>
  </div>
</mat-toolbar>
