/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Futura", sans-serif; }

.body-wrapper {
  margin: auto;
  text-align: center;
  padding: 96px 64px;
  min-height: 100%;
}

.body-wrapper.banner {
  padding-top: 300px;
}

.items-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 32px;
}

.items-container.center {
  justify-content: center;
}
